.App {
  text-align: center;
}

a,
p,
h1 {
  color: #f2eb88;
  text-decoration: none;
}

.custom-navbar {
  height: 50px;
  display: flex;
  padding-left: 1em !important;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #ed6c02 !important;
}

.custom-navbar span {
  margin-left: 0.5em;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.custom-navbar :hover {
  color: #f2eb88 !important;
  transition: 0.5s;
  text-decoration: none;
}

.home,
.search-page,
.error-404 {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #181614;
}

.custom-footer {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  height: 50px;
  background-color: #ed6c02;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.custom-footer p {
  margin-left: 0.5em;
  margin-top: auto;
}

.MuiOutlinedInput-input {
  color: #fff !important;
}

.navbar-search {
  align-items: center;
  margin-right: 2em;
  cursor: pointer;
}

.card-news {
  align-items: center;
  background-color: rgba(23, 146, 207, 0.1);
  margin: 20px;
}

.card-footer {
  display: flex !important;
  justify-content: space-between !important;
}

.container-info {
  padding: 0 1.8rem 0 1.8rem;
}

.container-tag {
  align-items: center;
  background-color: rgba(33, 37, 41, 0.1);
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.alert {
  padding: 1.8rem;
  width: 100%;
}

.container-alert {
  padding: 0 1.8rem 0 1.8rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.noticia {
  min-height: calc(100vh - 22rem);
  padding: 0;
}

.pagination {
  display: flex;
  margin: 0;
  height: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.page-link {
  color: #000;
}

.page-item.active .page-link {
  color: #fff;
  background-color: rgb(33, 37, 41);
  border-color: rgb(33, 37, 41);
}
